<app-toolbar></app-toolbar>
<div class="cards-container">
    <div class="title">
        <h1>Notepad</h1>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-tab-group>
        <mat-tab label="Notas">
            <div class="cards">
                <ng-container *ngFor="let note of notes">
                    <mat-card class="card" *ngIf="!note.archive">
                        <mat-card-header>
                            <div class="header-card">
                                <div class="titles">
                                    <mat-card-title>{{note.title}}</mat-card-title>
                                    <mat-card-subtitle>{{note.date.toDate() | date: 'short'}}</mat-card-subtitle>        
                                </div>
                                <div class="buttons">
                                    <button mat-icon-button color="primary" (click)="updateArchive(note.id, note.archive)">
                                        <mat-icon>inventory_2</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="deleteNote(note.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{note.description}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Archivadas">
            <div class="cards">
                <ng-container *ngFor="let note of notes">
                    <mat-card class="card" *ngIf="note.archive">
                        <mat-card-header>
                            <div class="header-card">
                                <div class="titles">
                                    <mat-card-title>{{note.title}}</mat-card-title>
                                    <mat-card-subtitle>{{note.date.toDate() | date: 'short'}}</mat-card-subtitle>        
                                </div>
                                <div class="buttons">
                                    <button mat-icon-button color="primary" (click)="updateArchive(note.id, note.archive)">
                                        <mat-icon>inventory_2</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="deleteNote(note.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{note.description}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
